name: Build EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install pandas
        pip install matplotlib
        pip install customtkinter
        pip install pyinstaller

    - name: Build
      run: |
        pyinstaller LoggingDataAnalysisTool_v2.py --noconsole --onefile --name "LoggingDataAnalysisTool"

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: LoggingDataAnalysisTool
        path: dist/LoggingDataAnalysisTool_test1.exe
